option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: trms_project.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_DEBUG: "false"

container_commands:
  01_collectstatic:
    command: "python manage.py collectstatic --noinput"
  02_migrate:
    command: "python manage.py migrate --noinput"
